/dist/
.idea/workspace.xml
/MODELO ENTIDAD RELACION/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
nbproject/

### VS Code ###
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
10_09_2019.sql
211_09_2019.sql
DRAG AND DROP.txt
REQ.backup
